.expiry-info {
  position: relative;

  span {
    position: absolute;
  }

  &__shadow-info {
    opacity: 0;
  }
}

.bid-row {
  
  margin: 0 0 30px 0;
  
  .head {
    background: #212121;
    padding: 2px 10px;
    transition: all .5s;

    padding-left: 60px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;

    @include breakpoint(xs) {
      background-size: 60px;
    }
  }
  
  .higher-than-comp-value {
    color: red;
  }
  
  .lower-than-comp-value {
    color: green;
  }
  
  
}

.bids-button-row {
  display: flex;
  flex-wrap: wrap;

  button {
    margin: 0 10px 10px 0;
    @include breakpoint(xs) {
      width: 100%;
    }
  }
}

.players-name {
  @media (max-width: 640px){
    order: 5
  }
}



.bid-input-container {
  width: 50%;
  @include breakpoint(xs) {
    width: 100%;
    margin-bottom: 16px;
  }

  position: relative;

  .saved-alert {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 1;
    height: 100%;
    width: 100%;

    &:before {
      opacity: .75 !important;
    }

    .v-alert__content, .v-icon {
      color: #fff !important;
      caret-color: #fff !important;
      position: relative;
      z-index: 4;
      font-size: 16px;
      font-weight: bold;
    }
  }
}