.v-application {
  .table {
    a {
      color: #000 !important;
      transition: all .5s;
      padding: 4px 10px;

      &:hover {
        background: #1976d2;
        color: #fff !important;
      }
    }
  }
}

.app {
  &.loading {
    background: url(../assets/img/loading.gif) transparent no-repeat center center;
  }
}

.app-loading-overlay {
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;

    &::before {
      content: '';
      background: linear-gradient(transparent 150px, #455a64);
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }

    p {
      display: block;
      width: 100%;
      flex-grow: 0;
    }
  }
}


.text {
  &--white {
    color: #fff !important;
  }
}

.theme--light.v-chip-group .v-chip.text--white {
  color: #fff !important;
}

.label {
  font-size: 150%;
}

fieldset {
  border: none;
  padding: 10px;

  &.no-padding-bottom {
    padding-bottom: 0;

    & + fieldset {
      padding-top: 0;
    }
  }
}

.v-overlay__content {
  height: 100%;
  width: 100%;
}

.wrap-title {
  white-space: normal !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.max-height {
  height: auto !important;
}

.spinner {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 40px 0;
}

.tbl {
  width: 100%;

  th {
    width: 33%;
  }
}

.full-width-container {
  width: 100%;
  position: relative;

  &--with-options-bar {
    display: flex;

    @include breakpoint(xs) {
      flex-wrap: wrap;
    }
  }
}

.vertical-align {
  &--top {
    vertical-align: top;
  }
}

.kp-table {
  width: 100%;
  border-collapse: collapse;

  &--font-large {
    font-size: 130%;
  }

  th, td {
    padding: 4px;
    vertical-align: top;
    border: none;
    border-bottom: 1px solid #ccc;

    &.xs-border-none {
      @include breakpoint(up-to-lg) {
        border: none;
      }
    }

    &.border-none {
      border: none;
    }
  }

  th {
    font-weight: bold;
    text-align: left;
  }
}

.text {
  &--green {
    color: $kp_green;
  }

  &--red {
    color: $kp_red;
  }
}

.reload-button {
  cursor: pointer;
}