$card-border: 3px solid #131313;

.lineup-container {
  position: relative;
  width: 100%;

  &__loading-spinner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, .75);
    display: flex;
    justify-content: center;

    .v-progress-circular {
      position: fixed;
    }
  }

  .saved-alert {
    position: fixed;
    z-index: 2;
    left: 50%;

  }
}

.field {
  background: #047404;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;

  .theme--dark & {
    background: #003a00;
  }
}

.position {

  &__choose {
    display: flex;
    border: $card-border;
    background: #fff;
    padding: 20px;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    width: 100%;
    flex-wrap: wrap;

    .theme--dark & {
      background: #333 !important;
    }

    .v-avatar {
      display: block;
      width: 100% !important;
    }

    span {
      font-size: 1.1rem;
      font-weight: bold;
      padding-top: 5px;
      text-align: center;
      display: block;
      width: 100% !important;
    }

  }

  &__container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    flex-wrap: wrap;
    border-bottom: 3px dashed rgba(255, 255, 255, .5);
    align-items: center;
    align-content: center;

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      border: none;
      padding-bottom: 0;
    }
  }

  &__next-match {
    background: #fff;
    padding: 8px 0;
    display: flex;
    width: 100%;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: $card-border;
    border-bottom: none;

    .theme--dark & {
      background: #333 !important;
    }
  }

  &__avatar {
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    border: $card-border;
    border-bottom: none;
    border-top: none;

    @include breakpoint(up-to-lg) {
      display: none;
    }

    .theme--dark & {
      background: #333 !important;
    }
  }

  &__details {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    @include breakpoint(xs) {
      flex-wrap: nowrap;
    }

    &__name {
      border: $card-border;
      border-bottom: none;
      font-size: 1.2rem;
      width: 100%;
      background: #333;
      color: #fff;
      padding: 10px 10px 5px 10px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      .theme--dark & {
        border-top: none;
      }

      span {
        width: 100%;
      }

      @include breakpoint(xs) {
        border-bottom: $card-border;
        border-right: none;
        align-content: center;
      }
    }

    &__status {
      width: 100%;
      background: #333;
      color: #fff;
      padding: 0 10px;

      border: $card-border;
      border-top: none;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      .v-alert {
        font-size: .8rem;
      }

      @include breakpoint(xs) {
        width: 25%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top: $card-border;
        border-left: none;
        .theme--dark & {
          border-top: none;
        }
        .v-alert {
          margin: 6px 0 !important;

          .v-alert__wrapper {
            justify-content: center !important;
          }

          .v-alert__content {
            display: none !important;
          }
          .v-icon {
            margin: 0 !important;
          }
        }
      }
    }
  }


  &--lined-up {
    padding: 10px;
    position: relative;
    text-align: center;
    cursor: pointer;

    width: calc(25% - 60px);
    display: flex;
    border-radius: 10px;
    flex-grow: 0;
    flex-shrink: 0;

    flex-wrap: wrap;
    justify-content: center;

    @include breakpoint(up-to-lg) {
      width: calc(50% - 60px);
    }
    @include breakpoint(xs) {
      width: 100%;
    }
  }
}

.no-position {
  width: 200px;
}

.vsInfo {
  display: flex;
  justify-content: center;
  align-items: center;

  &--left {
    justify-content: left;
  }

  &--dark {
    background: #333;
    margin-left: 16px;
  }
}

.vsTeam {
  width: 40px;
  @include breakpoint(xs) {
    width: 24px;
  }
}

.change-line-up {
  &__img {
    img {
      max-width: 180px;
    }

    &--logo {
      img {
        max-width: 60px;
        position: absolute;
        right: -25px;
        top: 30px;
      }
    }
  }

  &__container {
    display: flex;

    @include breakpoint(xs) {
      flex-wrap: wrap;
    }

    .kp-button {
      @include inlineButton();
    }
  }

  &__other-player {
    margin: 0 0 20px 0;

    &:last-of-type {
      padding-bottom: 0;
    }

    .v-chip {
      margin-left: 16px;
    }

    img {
      max-width: 36px;
    }

    &:last-of-type {
      margin-bottom: 20px;
    }

    .line-up__option-button {

      @include breakpoint(xs) {
        height: auto !important;
        padding: 0 10px !important;
      }

      .v-btn__content {
        padding-top: 10px;
        display: flex !important;
        align-items: center;

        @include breakpoint(xs) {
          height: auto !important;
          display: block !important;
        }

        .v-alert {
          margin-bottom: 0 !important;
        }

        .vsInfo {
          padding: 6px;
        }
      }
    }

  }

  &__player {
    position: relative;
    width: 180px;

    .v-chip {
      top: 0;
      right: -20px;
      position: absolute;
    }
  }
}