.sell-row {

  .details {
    th {
    }
  }

  .player-name {
    small {
      display: block;
      font-size: 14px;
      font-weight: normal;

      span {
        &.green, &.red {
          padding: 2px;
          display: inline-block;
          color: #fff;
        }
      }
    }
  }

}

.subtable {
  width: 100%;

  th, td {
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid #ccc;
  }

  tr {
    &:last-of-type {
      th, td {
        border: none;
      }
    }
  }
}

.tm-search {
  width: 50%;

  @include breakpoint(xs) {
    width: 100%;
  }
}

.tm-tools {
  position: sticky;
  top: 65px;
  z-index: 2;
  background: #fff;

  .theme--dark & {
    background: #000;
  }

  @include breakpoint(xs) {
    top: 56px;
  }
}

.tm-filter-positions {
  @include breakpoint(xs) {
    width: 33%;
  }
}

.profit-info {
  padding: 5px;
  background: #ccc;
  margin: 0 10px 0 0;

  &--green {
    background: $kp_pastell_green;

    .theme--dark & {
      background: $kp_pastell_green_dark;
    }
  }

  &--red {
    background: $kp_pastell_red;

    .theme--dark & {
      background: $kp_pastell_red_dark;
    }
  }
}

.step-selection {
  .v-input__slot {
    min-height: 0 !important;

    fieldset {
      padding: 0 !important;
    }
  }
}